.container {
	 width: 80%;
	 margin: auto;
}
 .container fieldset {
	 box-shadow: rgba(240,46,170,0.4) -5px 5px, rgba(240,46,170,0.3) -10px 10px, rgba(240,46,170,0.2) -15px 15px, rgba(240,46,170,0.1) -20px 20px, rgba(240,46,170,0.05) -25px 25px;
	 background-color: yellow;
}
 .container fieldset form label {
	 margin-top: 10px;
	 display: block;
	 background-color: #FA2C1F;
}
 .container fieldset form button {
	 border-color: red;
	 background-color: cyan;
	 color: white;
}
 